USE [master]
GO
/****** Object:  Database [ProfenDB]    Script Date: 15.12.2024 15:45:35 ******/
CREATE DATABASE [ProfenDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProfenDB', FILENAME = N'C:\Users\Administrator\ProfenDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProfenDB_log', FILENAME = N'C:\Users\Administrator\ProfenDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [ProfenDB].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO
USE [ProfenDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15.12.2024 15:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.12.2024 15:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[user_Name] [nvarchar](450) NOT NULL,
	[password_Hash] [nvarchar](max) NOT NULL,
	[email] [nvarchar](450) NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
-- Insert default admin user
INSERT INTO [dbo].[Users]
           ([user_Name]
           ,[password_Hash]
           ,[email]
           ,[role])
     VALUES
           ('testadmin','$2a$11$QYIZnITDwwyf7BDGpW2NcumcG0Kwanvp33.2krchY0FyqUvzWJ54m','stri1223ng@gmail.com',0)
GO
USE [master]
GO
